body .container .Piso4 {
    position: absolute;
    display: flex;

    width: 75.5px;
    height: 24px;
    transform: rotate(270deg);
}

body .container .Rot {
    transform: rotate(0deg);
}

body .container .Park {
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20%;
    border: 2px solid #567DF4;
    background-color: #F3F6FF;
}

body .Estado_1 {
    position: absolute;
    top: 15%;
    left: 15%;

    display: flex;
    width: 277px;
    height: 83px;
    padding: 7px 25px 7px 7px;
    align-items: center;
    gap: 33px;
    flex-shrink: 0;
    justify-content: space-between;

    border-radius: 16px;
    background: #567DF4;
}


body .Estado_1 .Texto_1 {
    color: #FFF;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: right;
}

body .Estado_1 .Number_1 {
    display: flex;
    padding: 19px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background: #FFF;
}


body .Estado_2 {
    position: absolute;
    top: 15%;
    left: 60%;

    display: flex;
    width: 277px;
    height: 83px;
    padding: 7px 25px 7px 7px;
    align-items: center;
    gap: 33px;
    flex-shrink: 0;
    justify-content: space-between;

    border-radius: 16px;
    background: #FF317B;
}


body .Estado_2 .Texto_2 {
    color: #FFF;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: right;
}

body .Estado_2 .Number_2 {
    display: flex;
    padding: 19px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background: #FFF;
}


body .container #D1 {
    top: 40%;
    left: 0.5%;
}

body .container #D2 {
    top: 40%;
    left: 3%;
}

body .container #D3 {
    top: 40%;
    left: 5.5%;
}

body .container #D4 {
    top: 40%;
    left: 8%;
}

body .container #D5 {
    top: 70%;
    left: 0.5%;
}

body .container #D6 {
    top: 70%;
    left: 3%;
}

body .container #D7 {
    top: 70%;
    left: 5.5%;
}

body .container #D8 {
    top: 70%;
    left: 8%;
}

body .container #D9 {
    top: 40%;
    left: 11.5%;
}

body .container #D10 {
    top: 40%;
    left: 14%;
}

body .container #D11 {
    top: 40%;
    left: 16.5%;
}

body .container #D12 {
    top: 40%;
    left: 19%;
}

body .container #D13 {
    top: 70%;
    left: 11.5%;
}

body .container #D14 {
    top: 70%;
    left: 14%;
}

body .container #D15 {
    top: 70%;
    left: 16.5%;
}

body .container #D16 {
    top: 70%;
    left: 19%;
}

body .container #D17 {
    top: 40%;
    left: 22.5%;
}

body .container #D18 {
    top: 40%;
    left: 25%;
}

body .container #D19 {
    top: 40%;
    left: 27.5%;
}

body .container #D20 {
    top: 40%;
    left: 31%;
}

body .container #D21 {
    top: 40%;
    left: 33.5%;
}

body .container #D22 {
    top: 40%;
    left: 36%;
}

body .container #D23 {
    top: 40%;
    left: 39.5%;
}

body .container #D24 {
    top: 40%;
    left: 42%;
}

body .container #D25 {
    top: 40%;
    left: 44.5%;
}

body .container #D26 {
    top: 40%;
    left: 47%;
}

body .container #D27 {
    top: 40%;
    left: 50.5%;
}

body .container #D28 {
    top: 40%;
    left: 53%;
}

body .container #D29 {
    top: 40%;
    left: 55.5%;
}

body .container #D30 {
    top: 40%;
    left: 59%;
}

body .container #D31 {
    top: 40%;
    left: 61.5%;
}

body .container #D32 {
    top: 40%;
    left: 64%;
}

body .container #D33 {
    top: 40%;
    left: 67.5%;
}

body .container #D34 {
    top: 40%;
    left: 70%;
}

body .container #D35 {
    top: 40%;
    left: 72.5%;
}

body .container #D36 {
    top: 40%;
    left: 75%;
}

body .container #D37 {
    top: 70%;
    left: 72.5%;
}

body .container #D38 {
    top: 65%;
    left: 72.5%;
}

body .container .Ocupado {
    background-image: url(../img/car-pink.png);
    background-position: center;
    width: 75.5px;
    height: 24px;
    color: transparent;
    /* background-color: pink; */
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20%;
    border: 2px solid #567DF4;
}

body .container .Ocupado2 {
    background-image: url(../img/car-blue.png);
    background-position: center;
    width: 75.5px;
    height: 24px;
    color: transparent;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20%;
    border: 2px solid #567DF4;
}

body .container .Ocupado3 {
    background-image: url(../img/car-green.png);
    background-position: center;
    width: 75.5px;
    height: 24px;
    color: transparent;
    /* background-color: pink; */
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20%;
    border: 2px solid #567DF4;
}

body .container .Desocupado {
    background-image: none;
}