body .container .Piso2 {
    position: absolute;
    display: flex;

    width: 75.5px;
    height: 24px;
    transform: rotate(270deg);
}

body .container .Rot {
    transform: rotate(0deg);
}

body .container .Park {
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20%;
    border: 2px solid #567DF4;
    background-color: #F3F6FF;
}

body .Estado_1 {
    position: absolute;
    top: 15%;
    left: 15%;

    display: flex;
    width: 277px;
    height: 83px;
    padding: 7px 25px 7px 7px;
    align-items: center;
    gap: 33px;
    flex-shrink: 0;
    justify-content: space-between;

    border-radius: 16px;
    background: #567DF4;
}


body .Estado_1 .Texto_1 {
    color: #FFF;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: right;
}

body .Estado_1 .Number_1 {
    display: flex;
    padding: 19px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background: #FFF;
}


body .Estado_2 {
    position: absolute;
    top: 15%;
    left: 60%;

    display: flex;
    width: 277px;
    height: 83px;
    padding: 7px 25px 7px 7px;
    align-items: center;
    gap: 33px;
    flex-shrink: 0;
    justify-content: space-between;

    border-radius: 16px;
    background: #FF317B;
}


body .Estado_2 .Texto_2 {
    color: #FFF;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: right;
}

body .Estado_2 .Number_2 {
    display: flex;
    padding: 19px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background: #FFF;
}


body .container #B1 {
    top: 40%;
    left: 0.5%;
}

body .container #B2 {
    top: 40%;
    left: 3%;
}

body .container #B3 {
    top: 40%;
    left: 5.5%;
}

body .container #B4 {
    top: 40%;
    left: 8%;
}

body .container #B5 {
    top: 70%;
    left: 0.5%;
}

body .container #B6 {
    top: 70%;
    left: 3%;
}

body .container #B7 {
    top: 70%;
    left: 5.5%;
}

body .container #B8 {
    top: 70%;
    left: 8%;
}

body .container #B9 {
    top: 40%;
    left: 11.5%;
}

body .container #B10 {
    top: 40%;
    left: 14%;
}

body .container #B11 {
    top: 40%;
    left: 16.5%;
}

body .container #B12 {
    top: 40%;
    left: 19%;
}

body .container #B13 {
    top: 70%;
    left: 11.5%;
}

body .container #B14 {
    top: 70%;
    left: 14%;
}

body .container #B15 {
    top: 70%;
    left: 16.5%;
}

body .container #B16 {
    top: 70%;
    left: 19%;
}

body .container #B17 {
    top: 40%;
    left: 22.5%;
}

body .container #B18 {
    top: 40%;
    left: 25%;
}

body .container #B19 {
    top: 40%;
    left: 27.5%;
}

body .container #B20 {
    top: 40%;
    left: 31%;
}

body .container #B21 {
    top: 40%;
    left: 33.5%;
}

body .container #B22 {
    top: 40%;
    left: 36%;
}

body .container #B23 {
    top: 40%;
    left: 39.5%;
}

body .container #B24 {
    top: 40%;
    left: 42%;
}

body .container #B25 {
    top: 40%;
    left: 44.5%;
}

body .container #B26 {
    top: 40%;
    left: 47%;
}

body .container #B27 {
    top: 40%;
    left: 50.5%;
}

body .container #B28 {
    top: 40%;
    left: 53%;
}

body .container #B29 {
    top: 40%;
    left: 55.5%;
}

body .container #B30 {
    top: 40%;
    left: 59%;
}

body .container #B31 {
    top: 40%;
    left: 61.5%;
}

body .container #B32 {
    top: 40%;
    left: 64%;
}

body .container #B33 {
    top: 40%;
    left: 67.5%;
}

body .container #B34 {
    top: 40%;
    left: 70%;
}

body .container #B35 {
    top: 40%;
    left: 72.5%;
}

body .container #B36 {
    top: 40%;
    left: 75%;
}

body .container #B37 {
    top: 70%;
    left: 72.5%;
}

body .container #B38 {
    top: 65%;
    left: 72.5%;
}

body .container .Ocupado {
    background-image: url(../img/car-pink.png);
    background-position: center;
    width: 75.5px;
    height: 24px;
    color: transparent;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20%;
    border: 2px solid #567DF4;
}

body .container .Ocupado2 {
    background-image: url(../img/car-blue.png);
    background-position: center;
    width: 75.5px;
    height: 24px;
    color: transparent;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20%;
    border: 2px solid #567DF4;
}

body .container .Ocupado3 {
    background-image: url(../img/car-green.png);
    background-position: center;
    width: 75.5px;
    height: 24px;
    color: transparent;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20%;
    border: 2px solid #567DF4;
}

body .container .arreglado {
    background-position: center;
    width: 75.5px;
    height: 24px;
    color: transparent;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

body .container .Desocupado {
    background-image: none;
}