body .container {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
}

.fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    /* Espacio entre filas */
    text-align: center;
}

.h1 {
    margin-bottom: 2rem;
    text-align: center;
}

.content {
    width: 30%;
    /* Ancho de cada caja */
    height: auto;
    /* Altura de cada caja */
    margin: 0;
    padding: 0;
    text-align: center;
}
.centrado {
    display: flex;
    justify-content: center;
    text-align: center;
}