* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/1366_2000.jpg);
}

header {
    width: 100%;
    background-color: #567DF4;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

header div {
    margin: 0 2.5% 0 2.5%;
    padding: 1% 0 1% 0;
}

header #Logout {
    margin: 1% 2.5% 0 60%;
}

header h3 {
    font-size: 30px;
}

header a {
    text-decoration: none;
    color: white;
}


body .Asignacion {
    position: absolute;
    display: flex;
    background: #1DF333;
    align-items: center;
    top: 50%;
    left: 30%;
    padding: 7px 25px 7px 7px;
    align-items: center;
    gap: 33px;
    flex-shrink: 0;
    justify-content: space-between;
    width: 40%;
    height: 10%;
    border-radius: 16px;
}

body .Asignacion .banner {
    color: #FFF;

    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: right;
}

body .Asignacion .Space {
    display: flex;
    padding: 19px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background: #FFF;
}