{% extends './layout.html' %}

{% block tittle %}Foot1{% endblock %}

{% block body %}
<div class="container">
    <div id="A1" class="Piso1 Park">
        <p>A01</p>
    </div>
    <div id="A2" class="Piso1 Park">
        <p>A02 </p>
    </div>
    <div id="A3" class="Piso1 Park">
        <p>A03</p>
    </div>
    <div id="A4" class="Piso1 Park">
        <p>A04</p>
    </div>
    <div id="A5" class="Piso1 Park">
        <p>A05</p>
    </div>
    <div id="A6" class="Piso1 Park">
        <p>A06</p>
    </div>
    <div id="A7" class="Piso1 Park">
        <p>A07</p>
    </div>
    <div id="A8" class="Piso1 Park">
        <p>A08</p>
    </div>
    <div id="A9" class="Piso1 Park">
        <p>A09</p>
    </div>
    <div id="A10" class="Piso1 Park">
        <p>A10</p>
    </div>
    <div id="A11" class="Piso1 Park">
        <p>A11</p>
    </div>
    <div id="A12" class="Piso1 Park">
        <p>A12</p>
    </div>
    <div id="A13" class="Piso1 Park">
        <p>A13</p>
    </div>
    <div id="A14" class="Piso1 Park">
        <P>A14</P>
    </div>
    <div id="A15" class="Piso1 Park">
        <p>A15</p>
    </div>
    <div id="A16" class="Piso1 Park">
        <p>A16</p>
    </div>
    <div id="A17" class="Piso1 Park">
        <p>A17</p>
    </div>
    <div id="A18" class="Piso1 Park">
        <p>A18</p>
    </div>
    <div id="A19" class="Piso1 Park">
        <p>A19</p>
    </div>
    <div id="A20" class="Piso1 Park">
        <p>A20</p>
    </div>
    <div id="A21" class="Piso1 Park">
        <p>A21</p>
    </div>
    <div id="A22" class="Piso1 Park">
        <p>A22</p>
    </div>
    <div id="A23" class="Piso1 Park">
        <p>A23</p>
    </div>
    <div id="A24" class="Piso1 Park">
        <p>A24</p>
    </div>
    <div id="A25" class="Piso1 Park">
        <p>A25</p>
    </div>
    <div id="A26" class="Piso1 Park">
        <p>A26</p>
    </div>
    <div id="A27" class="Piso1 Park">
        <p>A27</p>
    </div>
    <div id="A28" class="Piso1 Park">
        <p>A28</p>
    </div>
    <div id="A29" class="Piso1 Park">
        <p>A29</p>
    </div>
    <div id="A30" class="Piso1 Park">
        <p>A30</p>
    </div>
    <div id="A31" class="Piso1 Park">
        <p>A31</p>
    </div>
    <div id="A32" class="Piso1 Park">
        <p>A32</p>
    </div>
    <div id="A33" class="Piso1 Park">
        <p>A33</p>
    </div>
    <div id="A34" class="Piso1 Park">
        <p>A34</p>
    </div>
    <div id="A35" class="Piso1 Park">
        <p>A35</p>
    </div>
    <div id="A36" class="Piso1 Park">
        <p>A36</p>
    </div>
    <div id="A37" class="Piso1 Park Rot">
        <p>A37</p>
    </div>
    <div id="A38" class="Piso1 Park Rot">
        <p>A38</p>
    </div>
</div>

<script src="{{ url_for('static', filename='js/Foot1.js') }}"></script>
{% endblock %}