{% extends './layout.html' %}
{% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Foot5.css') }}">{% endblock%}


{% block tittle %}Foot5{% endblock %}

{% block body %}
<div class="Estado_1">
    <div class="Number_1">
        <span id="cantidad_uno">0</span>
    </div>

    <div class="Texto_1">
        <p>Disponibles</p>
    </div>
</div>

<div class="Estado_2">
    <div class="Number_2">
        <span id="cantidad_cero">0</span>
    </div>

    <div class="Texto_2">
        <p>Ocupados</p>
    </div>
</div>


<div class="container">
    <div id="E1" class="Piso5 Park">
        <p>E01</p>
    </div>
    <div id="E2" class="Piso5 Park">
        <p>E02 </p>
    </div>
    <div id="E3" class="Piso5 Park">
        <p>E03</p>
    </div>
    <div id="E4" class="Piso5 Park">
        <p>E04</p>
    </div>
    <div id="E5" class="Piso5 Park">
        <p>E05</p>
    </div>
    <div id="E6" class="Piso5 Park">
        <p>E06</p>
    </div>
    <div id="E7" class="Piso5 Park">
        <p>E07</p>
    </div>
    <div id="E8" class="Piso5 Park">
        <p>E08</p>
    </div>
    <div id="E9" class="Piso5 Park">
        <p>E09</p>
    </div>
    <div id="E10" class="Piso5 Park">
        <p>E10</p>
    </div>
    <div id="E11" class="Piso5 Park">
        <p>E11</p>
    </div>
    <div id="E12" class="Piso5 Park">
        <p>E12</p>
    </div>
    <div id="E13" class="Piso5 Park">
        <p>E13</p>
    </div>
    <div id="E14" class="Piso5 Park">
        <P>E14</P>
    </div>
    <div id="E15" class="Piso5 Park">
        <p>E15</p>
    </div>
    <div id="E16" class="Piso5 Park">
        <p>E16</p>
    </div>
    <div id="E17" class="Piso5 Park">
        <p>E17</p>
    </div>
    <div id="E18" class="Piso5 Park">
        <p>E18</p>
    </div>
    <div id="E19" class="Piso5 Park">
        <p>E19</p>
    </div>
    <div id="E20" class="Piso5 Park">
        <p>E20</p>
    </div>
    <div id="E21" class="Piso5 Park">
        <p>E21</p>
    </div>
    <div id="E22" class="Piso5 Park">
        <p>E22</p>
    </div>
    <div id="E23" class="Piso5 Park">
        <p>E23</p>
    </div>
    <div id="E24" class="Piso5 Park">
        <p>E24</p>
    </div>
    <div id="E25" class="Piso5 Park">
        <p>E25</p>
    </div>
    <div id="E26" class="Piso5 Park">
        <p>E26</p>
    </div>
    <div id="E27" class="Piso5 Park">
        <p>E27</p>
    </div>
    <div id="E28" class="Piso5 Park">
        <p>E28</p>
    </div>
    <div id="E29" class="Piso5 Park">
        <p>E29</p>
    </div>
    <div id="E30" class="Piso5 Park">
        <p>E30</p>
    </div>
    <div id="E31" class="Piso5 Park">
        <p>E31</p>
    </div>
    <div id="E32" class="Piso5 Park">
        <p>E32</p>
    </div>
    <div id="E33" class="Piso5 Park">
        <p>E33</p>
    </div>
    <div id="E34" class="Piso5 Park">
        <p>E34</p>
    </div>
    <div id="E35" class="Piso5 Park">
        <p>E35</p>
    </div>
    <div id="E36" class="Piso5 Park">
        <p>E36</p>
    </div>
    <div id="E37" class="Piso5 Park Rot">
        <p>E37</p>
    </div>
    <div id="E38" class="Piso5 Park Rot">
        <p>E38</p>
    </div>
</div>

<script src="{{ url_for('static', filename='js/Foot5.js') }}"></script>
{% endblock %}
