{% extends './layout.html' %}
{% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Foot3.css') }}">{% endblock%}


{% block tittle %}Foot3{% endblock %}

{% block body %}
<div class="Estado_1">
    <div class="Number_1">
        <span id="cantidad_uno">0</span>
    </div>

    <div class="Texto_1">
        <p>Disponibles</p>
    </div>
</div>

<div class="Estado_2">
    <div class="Number_2">
        <span id="cantidad_cero">0</span>
    </div>

    <div class="Texto_2">
        <p>Ocupados</p>
    </div>
</div>


<div class="container">
    <div id="C1" class="Piso3 Park">
        <p>C01</p>
    </div>
    <div id="C2" class="Piso3 Park">
        <p>C02 </p>
    </div>
    <div id="C3" class="Piso3 Park">
        <p>C03</p>
    </div>
    <div id="C4" class="Piso3 Park">
        <p>C04</p>
    </div>
    <div id="C5" class="Piso3 Park">
        <p>C05</p>
    </div>
    <div id="C6" class="Piso3 Park">
        <p>C06</p>
    </div>
    <div id="C7" class="Piso3 Park">
        <p>C07</p>
    </div>
    <div id="C8" class="Piso3 Park">
        <p>C08</p>
    </div>
    <div id="C9" class="Piso3 Park">
        <p>C09</p>
    </div>
    <div id="C10" class="Piso3 Park">
        <p>C10</p>
    </div>
    <div id="C11" class="Piso3 Park">
        <p>C11</p>
    </div>
    <div id="C12" class="Piso3 Park">
        <p>C12</p>
    </div>
    <div id="C13" class="Piso3 Park">
        <p>C13</p>
    </div>
    <div id="C14" class="Piso3 Park">
        <P>C14</P>
    </div>
    <div id="C15" class="Piso3 Park">
        <p>C15</p>
    </div>
    <div id="C16" class="Piso3 Park">
        <p>C16</p>
    </div>
    <div id="C17" class="Piso3 Park">
        <p>C17</p>
    </div>
    <div id="C18" class="Piso3 Park">
        <p>C18</p>
    </div>
    <div id="C19" class="Piso3 Park">
        <p>C19</p>
    </div>
    <div id="C20" class="Piso3 Park">
        <p>C20</p>
    </div>
    <div id="C21" class="Piso3 Park">
        <p>C21</p>
    </div>
    <div id="C22" class="Piso3 Park">
        <p>C22</p>
    </div>
    <div id="C23" class="Piso3 Park">
        <p>C23</p>
    </div>
    <div id="C24" class="Piso3 Park">
        <p>C24</p>
    </div>
    <div id="C25" class="Piso3 Park">
        <p>C25</p>
    </div>
    <div id="C26" class="Piso3 Park">
        <p>C26</p>
    </div>
    <div id="C27" class="Piso3 Park">
        <p>C27</p>
    </div>
    <div id="C28" class="Piso3 Park">
        <p>C28</p>
    </div>
    <div id="C29" class="Piso3 Park">
        <p>C29</p>
    </div>
    <div id="C30" class="Piso3 Park">
        <p>C30</p>
    </div>
    <div id="C31" class="Piso3 Park">
        <p>C31</p>
    </div>
    <div id="C32" class="Piso3 Park">
        <p>C32</p>
    </div>
    <div id="C33" class="Piso3 Park">
        <p>C33</p>
    </div>
    <div id="C34" class="Piso3 Park">
        <p>C34</p>
    </div>
    <div id="C35" class="Piso3 Park">
        <p>C35</p>
    </div>
    <div id="C36" class="Piso3 Park">
        <p>C36</p>
    </div>
    <div id="C37" class="Piso3 Park Rot">
        <p>C37</p>
    </div>
    <div id="C38" class="Piso3 Park Rot">
        <p>C38</p>
    </div>
</div>

<script src="{{ url_for('static', filename='js/Foot3.js') }}"></script>
{% endblock %}