{% extends './layout.html' %}
{% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Foot4.css') }}">{% endblock%}


{% block tittle %}Foot4{% endblock %}

{% block body %}
<div class="Estado_1">
    <div class="Number_1">
        <span id="cantidad_uno">0</span>
    </div>

    <div class="Texto_1">
        <p>Disponibles</p>
    </div>
</div>

<div class="Estado_2">
    <div class="Number_2">
        <span id="cantidad_cero">0</span>
    </div>

    <div class="Texto_2">
        <p>Ocupados</p>
    </div>
</div>


<div class="container">
    <div id="D1" class="Piso4 Park">
        <p>D01</p>
    </div>
    <div id="D2" class="Piso4 Park">
        <p>D02 </p>
    </div>
    <div id="D3" class="Piso4 Park">
        <p>D03</p>
    </div>
    <div id="D4" class="Piso4 Park">
        <p>D04</p>
    </div>
    <div id="D5" class="Piso4 Park">
        <p>D05</p>
    </div>
    <div id="D6" class="Piso4 Park">
        <p>D06</p>
    </div>
    <div id="D7" class="Piso4 Park">
        <p>D07</p>
    </div>
    <div id="D8" class="Piso4 Park">
        <p>D08</p>
    </div>
    <div id="D9" class="Piso4 Park">
        <p>D09</p>
    </div>
    <div id="D10" class="Piso4 Park">
        <p>D10</p>
    </div>
    <div id="D11" class="Piso4 Park">
        <p>D11</p>
    </div>
    <div id="D12" class="Piso4 Park">
        <p>D12</p>
    </div>
    <div id="D13" class="Piso4 Park">
        <p>D13</p>
    </div>
    <div id="D14" class="Piso4 Park">
        <P>D14</P>
    </div>
    <div id="D15" class="Piso4 Park">
        <p>D15</p>
    </div>
    <div id="D16" class="Piso4 Park">
        <p>D16</p>
    </div>
    <div id="D17" class="Piso4 Park">
        <p>D17</p>
    </div>
    <div id="D18" class="Piso4 Park">
        <p>D18</p>
    </div>
    <div id="D19" class="Piso4 Park">
        <p>D19</p>
    </div>
    <div id="D20" class="Piso4 Park">
        <p>D20</p>
    </div>
    <div id="D21" class="Piso4 Park">
        <p>D21</p>
    </div>
    <div id="D22" class="Piso4 Park">
        <p>D22</p>
    </div>
    <div id="D23" class="Piso4 Park">
        <p>D23</p>
    </div>
    <div id="D24" class="Piso4 Park">
        <p>D24</p>
    </div>
    <div id="D25" class="Piso4 Park">
        <p>D25</p>
    </div>
    <div id="D26" class="Piso4 Park">
        <p>D26</p>
    </div>
    <div id="D27" class="Piso4 Park">
        <p>D27</p>
    </div>
    <div id="D28" class="Piso4 Park">
        <p>D28</p>
    </div>
    <div id="D29" class="Piso4 Park">
        <p>D29</p>
    </div>
    <div id="D30" class="Piso4 Park">
        <p>D30</p>
    </div>
    <div id="D31" class="Piso4 Park">
        <p>D31</p>
    </div>
    <div id="D32" class="Piso4 Park">
        <p>D32</p>
    </div>
    <div id="D33" class="Piso4 Park">
        <p>D33</p>
    </div>
    <div id="D34" class="Piso4 Park">
        <p>D34</p>
    </div>
    <div id="D35" class="Piso4 Park">
        <p>D35</p>
    </div>
    <div id="D36" class="Piso4 Park">
        <p>D36</p>
    </div>
    <div id="D37" class="Piso4 Park Rot">
        <p>D37</p>
    </div>
    <div id="D38" class="Piso4 Park Rot">
        <p>D38</p>
    </div>
</div>

<script src="{{ url_for('static', filename='js/Foot4.js') }}"></script>
{% endblock %}