{% extends './layout.html' %}

{% block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Foot2.css') }}">{% endblock%}
{% block tittle %}Foot2{% endblock %}

{% block body %}
<div class="Estado_1">
    <div class="Number_1">
        <span id="cantidad_uno">0</span>
    </div>

    <div class="Texto_1">
        <p>Disponibles</p>
    </div>
</div>

<div class="Estado_2">
    <div class="Number_2">
        <span id="cantidad_cero">0</span>
    </div>

    <div class="Texto_2">
        <p>Ocupados</p>
    </div>
</div>


<div class="container">
    <div id="B1" class="Piso2 Park">
        <p>B01</p>
    </div>
    <div id="B2" class="Piso2 Park">
        <p>B02 </p>
    </div>
    <div id="B3" class="Piso2 Park">
        <p>B03</p>
    </div>
    <div id="B4" class="Piso2 Park">
        <p>B04</p>
    </div>
    <div id="B5" class="Piso2 Park">
        <p>B05</p>
    </div>
    <div id="B6" class="Piso2 Park">
        <p>B06</p>
    </div>
    <div id="B7" class="Piso2 Park">
        <p>B07</p>
    </div>
    <div id="B8" class="Piso2 Park">
        <p>B08</p>
    </div>
    <div id="B9" class="Piso2 Park">
        <p>B09</p>
    </div>
    <div id="B10" class="Piso2 Park">
        <p>B10</p>
    </div>
    <div id="B11" class="Piso2 Park">
        <p>B11</p>
    </div>
    <div id="B12" class="Piso2 Park">
        <p>B12</p>
    </div>
    <div id="B13" class="Piso2 Park">
        <p>B13</p>
    </div>
    <div id="B14" class="Piso2 Park">
        <P>B14</P>
    </div>
    <div id="B15" class="Piso2 Park">
        <p>B15</p>
    </div>
    <div id="B16" class="Piso2 Park">
        <p>B16</p>
    </div>
    <div id="B17" class="Piso2 Park">
        <p>B17</p>
    </div>
    <div id="B18" class="Piso2 Park">
        <p>B18</p>
    </div>
    <div id="B19" class="Piso2 Park">
        <p>B19</p>
    </div>
    <div id="B20" class="Piso2 Park">
        <p>B20</p>
    </div>
    <div id="B21" class="Piso2 Park">
        <p>B21</p>
    </div>
    <div id="B22" class="Piso2 Park">
        <p>B22</p>
    </div>
    <div id="B23" class="Piso2 Park">
        <p>B23</p>
    </div>
    <div id="B24" class="Piso2 Park">
        <p>B24</p>
    </div>
    <div id="B25" class="Piso2 Park">
        <p>B25</p>
    </div>
    <div id="B26" class="Piso2 Park">
        <p>B26</p>
    </div>
    <div id="B27" class="Piso2 Park">
        <p>B27</p>
    </div>
    <div id="B28" class="Piso2 Park">
        <p>B28</p>
    </div>
    <div id="B29" class="Piso2 Park">
        <p>B29</p>
    </div>
    <div id="B30" class="Piso2 Park">
        <p>B30</p>
    </div>
    <div id="B31" class="Piso2 Park">
        <p>B31</p>
    </div>
    <div id="B32" class="Piso2 Park">
        <p>B32</p>
    </div>
    <div id="B33" class="Piso2 Park">
        <p>B33</p>
    </div>
    <div id="B34" class="Piso2 Park">
        <p>B34</p>
    </div>
    <div id="B35" class="Piso2 Park">
        <p>B35</p>
    </div>
    <div id="B36" class="Piso2 Park">
        <p>B36</p>
    </div>
    <div id="B37" class="Piso2 Park Rot">
        <p>B37</p>
    </div>
    <div id="B38" class="Piso2 Park Rot">
        <p>B38</p>
    </div>
</div>

<script src="{{ url_for('static', filename='js/Foot2.js') }}"></script>
{% endblock %}