{% extends './layout.html' %}

{% block tittle %}Parking{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="column">
            <h2 class="text-center">Estado de espacios</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="text-center">
        <a href="/Page1">Ir a otra página</a>
    </div>
</div>

<div>
    <h3>Total espacios</h3>
    <span id="total">
</div>
</span>
<div class="row">
    <div id="data-container"></div> <!-- Aquí se mostrarán los datos procesados -->
</div>
<script src="{{ url_for('static', filename='js/online.js') }}"></script>
{% endblock %}